$primary-bg-color: #2D3142;
$secondary-bg-color: #171b34;
$button-bg-color: #2D3142;
$font-color: #333;
$header-color: #A7A7A9;
$border-radius: 10px;
$active-button-bg: #ffffff;
$inactive-button-bg: #A7A7A9;
$inactive-button-color: #ffffff;
$text-color: #405864;
$title-color: #415764;
$background-color: #ffffff;
$input-bg-color: #ffffff;
$input-border-color: #cccccc;
$text-color: #22282b;
$title-color: #415764;
$text-page-color: #2D3142;
$title-page-color: #0c496b;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
$bg-active-color: #2D3142;
$bg-button: white;
$hover-color: #0b4f73;
